body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    height: 100vh;
}

.b-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc-con {
    background-color: whitesmoke;
    box-shadow: 3px 3px 40px 2px orangered;
    width: 300px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 270px;
    height: 470px;
    border-radius: 20px;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 262px;
    height: 80px;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

.result, .arith {
    border-radius: 15px;
    border-style: none;
    width: 95%;
    height: 40%;
    text-align: end;
    padding: 2%;
}

.boton {
    height: 360px;
    width: 270px;
    border-radius: 15px;
    display: flex;
    gap: 10px;
}

button {
    padding: 0;
    margin: 0;
    border-style: none;
    background-color: #3c3636;
    color: #e8e89a;
}

button:hover {
    box-shadow: 0px 0px 7px 3px #7a7171;
}

.num-boton {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px 60px;
    gap: 10px;
}

.f-boton {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.f {
    height: 60px;
    width: 60px;
    background-color: #6969ea;
    color: #531009;
    font-size: 1.2rem;
}

.bot {
    border-radius: 15px;
    font-size: 1.2rem;
}

.d-zero {
    border-bottom-left-radius: 20px; 
}

.multiply {
    border-bottom-right-radius: 20px;
}

.clearscreen {
    border-radius: 15px;
    background-color: #570404;
    color: #ff0000;
    font-size: 1.2rem;
}

.equal {
    border-radius: 15px;
    background-color: #023402;
    color: #06e906;
    font-size: 1.2rem;
}

.del {
    border-radius: 15px;
    background-color: #ff0000;
    color: rgb(3, 3, 53);
    font-size: 1.2rem;
}