body {
    margin: 0;
    padding: 0;
}

.b-container {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}